<!--Main layout-->
<main class="mt-5">
  <!--Main container-->
  <div class="container">
    <!--Main top categories-->
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div *ngFor="let category of categories" class="col-lg-4 col-md-6 mb-4">
        <!--Card-->
        <div class="card">
          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(75).jpg" class="img-fluid" alt="">
            <a [routerLink]="['/products']" [queryParams]="{ category: category._id}">
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{category.name}}</h4>
            <!--Text-->
            <p class="card-text">Select the best products in this category.</p>
            <a [routerLink]="['/products']" [queryParams]="{ category: category._id}" class="btn btn-indigo">Get Products</a>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <!--Main top categories-->
  </div>
  <!--Main container-->
</main>
<!--Main layout-->
