<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" [routerLink]="['home']">Keepcoding Store</a></logo>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['home']" >Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['categories']">Categories</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['products']">Products</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                User<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbRippleRadius href="#">Login</a>
          <a class="dropdown-item waves-light" mdbRippleRadius [routerLink]="['userRegister']">Register</a>
        </div>
      </li>
    </ul>
    <!-- Links -->
    <!-- Search form -->
    <form class="form-inline  waves-light" mdbRippleRadius>
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
